@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Smooch&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Macondo', cursive;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    
}
.brand img{
    width: 50px;
    border-radius: 60px;
    padding: 0 5px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size:1.3rem ;
    border-radius: 10px;
    
    
}
nav ul li{
    padding: 0 12px;

}
.container{
    min-height: 30vw;
    background-color: black;
    color:black;
    font-family:'Macondo', cursive;
    display:flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 20px;
    padding-left: 10px;
    background-image: url("background\ rj\ songs.jpg");
}
.bottom{
    position: sticky;
    background-color: black;
    height:100px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    flex-direction: column;  
}
#myprogressbar{
    width: 80%;
    cursor: pointer;
}
.icons{
    margin-top: 20 px;
    position: relative;
}
.icons i{
    cursor: pointer;
}
.songitem{
    height: 30px;
    background-color: white;
    display: flex;
    width: 50%;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

}
.songitem img{
    width: 30px;
    height: 20px;
    border-radius: 10px;
    padding-left: 2px;
}
nav ul li:hover{
    background-color:fuchsia;
}
.songitem i{
    cursor: pointer;
    padding-right: 2px;
}
.songinfo{
    position: absolute;
    left: 10vw;
    bottom: 34px;
    font-family: 'Macondo', cursive;
}
.songinfo img{
   opacity: 0;
   transition: opacity 0.8s ease-in;
}